.rover {

  &__button {
    &--scroll-photo {
      margin-left: 1rem;
    }
  }

  &__select {
    &--date {
      input {
        margin: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  &__photo-panel {
    &--photo {
      max-height: 100%;
      max-width: 100%;
    }
    &--no-results-msg {

    }
  }

  &__info-table {
    border: 1px solid;
  }

  &__status-text {
    margin-top: 0.5rem;
  }
}
